* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --corFundoNav: #000000ca;
    --corTextos: #959494;
    --corFundoBody: #000000f0;
    --conFundoConstraste: #171717f0;
    ;
    --corVermelho: #e01e1e;
    --corBordas: #2c2c2c;
}

body {
    background-color: var(--corFundoBody);
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

p {
    color: var(--corTextos);
}

h1 {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5rem;

}


/* NAV ------------------------ */

nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--corFundoNav);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 3rem;
    backdrop-filter: blur(12px);
    border-bottom: 1px solid var(--corBordas);
    z-index: 999999;
}

#navItemInicio {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.1em;
    color: white;
}

#navItemInicio span {
    color: var(--corVermelho);
}

nav ul {
    gap: 2rem;
    display: flex;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--corTextos);
    transition: color 0.2s;
    font-size: 0.85rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

nav a:hover {
    color: rgb(87, 87, 87);
}

/* INICIO ----------------------------------- */

#inicio {
    min-height: 100vh;
    padding: 5.5rem 0 0 0;
    display: flex;
}

#inicioContent {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 4rem;
    width: 50%;
}

#inicioContent p {
    max-width: 25rem;
}

#inicioContent input[type="button"] {
    background-color: var(--corVermelho);
    border: none;
    font-size: 1.2rem;
    font-family: 'Bebas Neue', sans-serif;
    padding: 1rem 0.5rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
    min-width: 25rem;
    max-width: 25rem;
    cursor: pointer;
    transition: all 0.2s;
}

#inicioContent input[type="button"]:hover {
    transform: translateY(-1px);
    box-shadow: 0 0 15px rgba(224, 30, 30, 0.15);
    background-color: rgb(129, 11, 11);
}

.nomePrincipal {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 7.5rem;
    color: white;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

.nomePrincipal:nth-child(2) {
    margin-top: -6rem;
}

.nomePrincipal span {
    color: var(--corVermelho);
}

#inicioImage {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

#inicioImage img {
    width: 22rem;
    box-shadow: 0px 0px 20px 3px rgb(44, 44, 44);
    border-radius: 0.4rem;
}


/* SOBRE ------------------------------- */

#sobre {
    background-color: var(--conFundoConstraste);
    min-height: 60vh;
    padding: 10rem;
    border-top: 1px solid var(--corBordas);
    border-bottom: 1px solid var(--corBordas);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

/* HABILIDADES ------------------------*/

#habilidades {
    min-height: 88.2vh;
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
}

.card {
    background-color: var(--conFundoConstraste);
    border: 1px solid var(--corBordas);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    gap: 1rem;
    transition: all .2s ease;
    aspect-ratio: 1 / 1;
}

.card img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}

.card h2 {
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.card:hover {
    transform: translateY(-5px);
    border-color: var(--corVermelho);
    box-shadow:
        0 0 15px rgba(224, 30, 30, 0.15);
}

/* experiencia ------------------------------- */

#experiencias {
    background-color: var(--conFundoConstraste);
    min-height: 88.2vh;
    border-top: 1px solid var(--corBordas);
    border-bottom: 1px solid var(--corBordas);
}

/* formacao ------------------------------- */

#formacao {

    min-height: 88.2vh;

}

/* contato ------------------------------- */

#contato {
    background-color: var(--conFundoConstraste);
    min-height: 88.2vh;
    border-top: 1px solid var(--corBordas);
    border-bottom: 1px solid var(--corBordas);
}

/* footer --------------------------- */

footer {
    padding: 0.7rem;
    display: flex;
    justify-content: center;
}



/* responsividade (teste ainda) ------------------- */


@media (max-width: 768px) {
    #inicio {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }
}